.input {
  width: 100%;
  height: 2.5rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.4rem;
  padding: 0 1rem;
  font-size: 1rem;
  outline: none;

  &:hover {
    border-color: #cbd5e0;
  }

  &:focus,
  &:active {
    border-color: $brandPrimary;
    box-shadow: 0 0 0 1px $brandPrimary;
  }
}
